@import "~bootstrap/scss/bootstrap";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
@import"_vars.scss";
@import"nav.scss";
@import"logform.scss";
@import"calendar.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost');

.jbbg{
  background-color: whitesmoke;
}

.shapebg{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h1{
  font-family: 'Jost', sans-serif;
  font-size:30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top:15px;
}

h2{
  font-family: 'Jost', sans-serif;
  font-size:28px;
  font-weight: bolder;
}

p{
  font-size:18px;
}

.homeMenu{
  display:inline-block;
  font-family: 'Jost', sans-serif;
  font-size:18px;
  color:darkgrey;
  padding: 0 30px;
}

.imageHome{
  //position:absolute;
  z-index:10;
}

.blob{
  width:53%;
  position:fixed;
  top:10%;
  left:60%;
  Z-index:0;
  opacity:0.5;
}

.dot{
  position:fixed;
  width:110px;
  opacity: 0.4;
  top:24%;
  left:30%;
  Z-index:0;
}

.wavy{
  position:fixed;
  opacity: 0.1;
  top:60%;
  left:11%;
  Z-index:-1;
  transform: rotate(4deg);
}

.presentation{
  padding-left:10em;
}