@import "~bootstrap/scss/bootstrap";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.cardForm{
  width:750px;
  margin-top:100px;
}
.md-form{
  width:650px;
}

.btn-default{
  background-color: #2BBBAD;
  margin-bottom: 30px;
}
.default-text {
  color: #2BBBAD;
  font-weight: bolder;
}

.form-white .md-form label {
  color: #fff;
}
.form-white input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 2px 0 0 #fff;
}
.form-white input[type=text]:focus:not([readonly]) + label {
  color: #fff;
}
.form-white input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff;
}
.form-white input[type=password]:focus:not([readonly]) + label {
  color: #fff;
}
.form-white input[type=password], .form-white input[type=text] {
  border-bottom: 1px solid #fff;
}
.form-white .form-control:focus {
  color: #fff;
}
.form-white .form-control {
  color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
  color: #fff;
}
.form-white textarea.md-textarea  {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly])+label {
  color: #fff;
}
