<nav>
  <ul>
    <li class="tooltip-container">
      <i class="fa fa-user fa-2x fa-fw"></i>
      <div class="tooltip">Utilisateurs</div>
    </li>
    <li class="tooltip-container">
      <i class="fa fa-list-ul fa-2x fa-fw"></i>
      <div class="tooltip">Tâches</div>
    </li>
    <li class="tooltip-container">
      <i class="fa fa-pie-chart fa-2x fa-fw"></i>
      <div class="tooltip">Stats</div>
    </li>
  </ul>
</nav>

